@model WebAdminScheduler.Models.CP_CRONTAB;
@{
    ViewData["Title"] = "Detalle";
}
<head>
    <link rel="stylesheet" href="~/css/clockpicker.css" />
    <link rel="stylesheet" href="~/css/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/Toast/dist/jquery.toast.min.css" />
    <link rel="stylesheet" href="~/lib/SweetAlert/dist/sweetalert2.min.css" />
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/lib/SweetAlert/dist/sweetalert2.min.js"></script>
    <script src="~/lib/Toast/dist/jquery.toast.min.js"></script>
    <script src="~/js/clockpicker.js"></script>
</head>	


    <body>
        <h1>Calendarios</h1>
        <div class="card">
            <div class="card-header">
                Editar
            </div>
            <div class="card-body">
                <div class="row g-4 align-items-center">
				
				<div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            Hora Inicio
                        </span>
                    </div>
                    <div class="col-auto">
                        <label for="txtHoraIni" class="col-form-label" id="txtHoraIni"></label>
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            Hora Fin
                        </span>
                    </div>
                    <div class="col-auto">
                        <label for="txtHoraFin" class="col-form-label" id="txtHoraFin"></label>
                    </div>
				
				
                     
                </div><hr />
            
                <h4>Meses</h4>
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" id="flexCheckAllmonths" type="checkbox"/> Seleccionar/Deseleccionar todos<br><br>
                        </div>
                    </div>
                </div>

                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <div class="form-check">
                        <input class="form-check-input flexCheckMes" type="checkbox" value="1" id="flexCheckEnero" disabled>
                            <label class="form-check-label" for="flexCheckTxtEnero">
                                Enero
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckMes" type="checkbox" value="2" id="flexCheckFebrero" disabled>
                            <label class="form-check-label" for="flexCheckTxtFebrero">
                                Febrero
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckMes" type="checkbox" value="3" id="flexCheckMarzo" disabled>
                            <label class="form-check-label" for="flexCheckTxtMarzo">
                                Marzo
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckMes" type="checkbox" value="4" id="flexCheckAbril" disabled>
                            <label class="form-check-label" for="flexCheckTxtAbril">
                                Abril
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckMes" type="checkbox" value="5" id="flexCheckMayo" disabled>
                            <label class="form-check-label" for="flexCheckTxtMayo">
                                Mayo
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckMes" type="checkbox" value="6" id="flexCheckJunio" disabled>
                            <label class="form-check-label" for="flexCheckTxtJunio">
                                Junio
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckMes" type="checkbox" value="7" id="flexCheckJulio" disabled>
                            <label class="form-check-label" for="flexCheckTxtJulio">
                                Julio
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckMes" type="checkbox" value="8" id="flexCheckAgost" disabled>
                            <label class="form-check-label" for="flexCheckTxtAgost">
                                Agosto
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckMes" type="checkbox" value="9" id="flexCheckSept" disabled>
                            <label class="form-check-label" for="flexCheckTxtSept">
                                Septiembre
                            </label>
                        </div>
                    </div>        
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckMes" type="checkbox" value="10" id="flexCheckOct" disabled>
                            <label class="form-check-label" for="flexCheckTxtOct">
                                Octubre
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckMes" type="checkbox" value="11" id="flexCheckNov" disabled>
                            <label class="form-check-label" for="flexCheckTxtNov">
                                Noviembre
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckMes" type="checkbox" value="12" id="flexCheckDic" disabled>
                            <label class="form-check-label" for="flexCheckTxtDic">
                                Diciembre
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                
                <h4>Días</h4>
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" id="flexCheckAlldays" type="checkbox" /> Seleccionar/Deseleccionar todos<br><br>
                        </div>
                    </div>
                </div>

                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckDias" type="checkbox" value="" id="flexCheckLunes" name="dias_semana">
                            <label class="form-check-label" for="flexCheckLunes">
                                Lunes
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckDias" type="checkbox" value="" id="flexCheckMartes" name="dias_semana">
                            <label class="form-check-label" for="flexCheckMartes">
                                Martes
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckDias" type="checkbox" value="" id="flexCheckMiercoles" name="dias_semana">
                            <label class="form-check-label" for="flexCheckMiercoles">
                                Miercoles
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckDias" type="checkbox" value="" id="flexCheckJueves" name="dias_semana">
                            <label class="form-check-label" for="flexCheckJueves">
                                Jueves
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckDias" type="checkbox" value="" id="flexCheckViernes" name="dias_semana">
                            <label class="form-check-label" for="flexCheckViernes">
                                Viernes
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckDias" type="checkbox" value="" id="flexCheckSabado" name="dias_semana">
                            <label class="form-check-label" for="flexCheckSabado">
                                Sabado
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input flexCheckDias" type="checkbox" value="" id="flexCheckDomingo" name="dias_semana">
                            <label class="form-check-label" for="flexCheckDomingo">
                                Domingo
                            </label>
                        </div>
                    </div>
                </div>
                <hr />

                <h4>Días Ejecución</h4>
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" id="flexCheckAlldaysex" type="checkbox" /> Seleccionar/Deseleccionar todos<br><br>
                        </div>
                    </div>
                </div>
                
                <table id="tbl-dias-exe" class="display nowrap" width="100%">
                    <thead>
                        <tr>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="1" id="flexCheckUnoExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtUnoExe">
                                    1
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="2" id="flexCheckDosExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDosExe">
                                    2
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="3" id="flexCheckTresExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtTresExe">
                                    3
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="4" id="flexCheckCuatroExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtCuatroExe">
                                    4
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="5" id="flexCheckCincoExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtCincoExe">
                                    5
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="6" id="flexCheckSeisExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtSeisExe">
                                    6
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="7" id="flexCheckSieteExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtSieteExe">
                                    7
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="8" id="flexCheckOchoExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtOchoExe">
                                    8
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="9" id="flexChecknueveExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtnueveExe">
                                    9
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="10" id="flexCheckDiezExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDiezExe">
                                    10
                                </label>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="11" id="flexCheckOnceExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtOnceExe">
                                    11
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="12" id="flexCheckDoceExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDoceExe">
                                    12
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="13" id="flexCheckTreceExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtTreceExe">
                                    13
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="14" id="flexCheckCatorceExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtCatorceExe">
                                    14
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="15" id="flexCheckQuinceExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtQuinceExe">
                                    15
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="16" id="flexCheckDiesiseisExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDiesiseisExe">
                                    16
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="17" id="flexCheckDiesicieteExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDiesicieteExe">
                                    17
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="18" id="flexCheckDiesiochoExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDiesiochoExe">
                                    18
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="19" id="flexCheckDiecinueveExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDiecinueveExe">
                                    19
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input diasexe" type="checkbox" value="20" id="flexCheckVeinteExe" name="dinamico" >
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtVeinteExe">
                                    20
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="tbl-dias-exe" class="display nowrap" width="100%">
                    <thead>
                    <tr>
                        <th>
                            <input class="form-check-input diasexe" type="checkbox" value="21" id="flexCheckVeintiunoExe" name="dinamico" >
                        </th>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtVeintiunoExe">
                                21
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input diasexe" type="checkbox" value="22" id="flexCheckVeintidosExe" name="dinamico" >
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtVeintidosExe">
                                22
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input diasexe" type="checkbox" value="23" id="flexCheckVeintitresExe" name="dinamico" >
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtVeintitresExe">
                                23
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input diasexe" type="checkbox" value="24" id="flexCheckVeinticuatroExe" name="dinamico" >
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtVeinticuatroExe">
                                24
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input diasexe" type="checkbox" value="25" id="flexCheckVeinticincoExe" name="dinamico" >
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtVeinticincoExe">
                                25
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input diasexe" type="checkbox" value="26" id="flexCheckVeintiseisExe" name="dinamico" >
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtVeintiseisExe">
                                26
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input diasexe" type="checkbox" value="27" id="flexCheckVeintisieteExe" name="dinamico" >
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtVeintisieteExe">
                                27
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input diasexe" type="checkbox" value="28" id="flexCheckVeintiochoExe" name="dinamico" >
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtVeintiochoExe">
                                28
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input diasexe" type="checkbox" value="29" id="flexCheckVeintinueveExe" name="dinamico" >
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtVeintinueveExe">
                                29
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input diasexe" type="checkbox" value="30" id="flexCheckTreintaExe" name="dinamico" >
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtTreintaExe">
                                30
                            </label>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input class="form-check-input diasexe" type="checkbox" value="31" id="flexCheckTreintaunoExe" name="dinamico" >
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtTreintaunoExe">
                                31
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <hr />

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="row g-4 align-items-center">
						 <div class="col-auto">
                            <span id="txtRepeatEveryMins" class="form-text">
                                REPEAT_EVERY_MINS
                            </span>
                        </div>
                        <div class="col-auto">
                            <label for="RepeatEveryMins" class="col-form-label" id="RepeatEveryMins">@Model.REPEAT_EVERY_MINS</label>
                        </div>
						
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="IdRepeatAfterFin">
                                <label class="form-check-label" for="RepeatAfterFin">
                                    REPEAT_AFTER_FINISH
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
		
		  <div class="container">
            <table id="dt-jobs" class="display nowrap" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" name="select_all" class="dt-column-title" value="1" id="tblJobs-select-all"></th>
                    <th>IDPROC</th>
                    <th>IDCONEX</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCIÓN</th>
                    <th>PATH</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </body>

<script> 
    var params={};
    var table={};
    var idcrontab="@ViewBag.IDCRONTAB";

    var vhorainitmp="@Model.HORA_INICIO";
    var vhorafintmp="@Model.HORA_FIN";
    var idRepAftFin="@Model.REPEAT_AFTER_FINISH";
    var diasSel="@Model.WDAY_M2S_EX";

    var vdiasexe = "@Model.DAY_EX";  //aqui puede venir un valor en 0 o una cadena separada por ,
    var vmonthexe="@Model.MONTH_EX";//aqui puede venir un valor en 0 o una cadena separada por ,

    var hora_ini=vhorainitmp[0]+""+vhorainitmp[1]+":"+vhorainitmp[2]+""+vhorainitmp[3];
    var hora_fin=vhorafintmp[0]+""+vhorafintmp[1]+":"+vhorafintmp[2]+""+vhorafintmp[3];
 
    var diasex="0";
    var monthex="0";

    var mesesArray=[];
    var diasexeArray=[];
 
    function daysMonth(anio,mes) {
        var arrayDays=[];
        var diasMes = new Date(anio, mes, 0).getDate();
        var diasSemana = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];

        for (var dia = 1; dia <= diasMes; dia++) {
        // Hay que restarle 1 para obtener el mes correcto
        var indice = new Date(anio, mes - 1, dia).getDay();
            arrayDays.push({"dia":`${dia}`,"mes":`${mes}`,"anio":`${anio}`,"nombredia":`${diasSemana[indice]}`});
        }
        return arrayDays;
    }

    function getDays(arrayDay,dia) {
        var data=$.map(arrayDay, function(obj) {
            if(obj.nombredia == dia || dia=="")
                return obj; 
            });
            return data;  
        }

        params.idcrontab = idcrontab;
        var conteodia=0;
        if(diasSel[0]==1){
            $("#flexCheckLunes").prop('checked', true);
            conteodia +=1;
        } else {
            $("#flexCheckLunes").prop('checked', false);
        }
        
        if(diasSel[1]==1){
            $("#flexCheckMartes").prop('checked', true);
            conteodia +=1;
        } else {
            $("#flexCheckMartes").prop('checked', false);
        }
    
        if(diasSel[2]==1){
            $("#flexCheckMiercoles").prop('checked', true);
            conteodia +=1;
        } else {
            $("#flexCheckMiercoles").prop('checked', false);
        } 
  
        if(diasSel[3]==1){
            $("#flexCheckJueves").prop('checked', true);
            conteodia +=1;
        } else {
            $("#flexCheckJueves").prop('checked', false);
        } 

        if(diasSel[4]==1){
            $("#flexCheckViernes").prop('checked', true);
            conteodia +=1;
        } else {
            $("#flexCheckViernes").prop('checked', false);
        } 

        if(diasSel[5]==1){
            $("#flexCheckSabado").prop('checked', true);
            conteodia +=1;
        } else {
            $("#flexCheckSabado").prop('checked', false);
        } 

        if(diasSel[6]==1){
            $("#flexCheckDomingo").prop('checked', true);
            conteodia +=1;
        } else {
            $("#flexCheckDomingo").prop('checked', false);
        } 
        $(".flexCheckDias").attr("disabled",true);
        if(conteodia==7)
        $("#flexCheckAlldays").prop('checked', true);
        else 
        $("#flexCheckAlldays").prop('checked', false);
        if (idRepAftFin == 1) {
            $("#IdRepeatAfterFin").prop('checked', true);
        } else {
            $("#IdRepeatAfterFin").prop('checked', false);
        }
    
        var repeat_every_mins = "@Model.REPEAT_EVERY_MINS";
    
        $(document).on("ready",function() {
            $('.clockpicker').clockpicker();
            $("#txtHoraIni").html(hora_ini);
            $("#txtHoraFin").html(hora_fin);
            $("#RepeatEveryMins").val(repeat_every_mins);

        if(vmonthexe=="0")
        {
            $(".flexCheckMes").prop("checked",true);
            $("#flexCheckAllmonths").prop("checked",true);
        }
        else 
        {
            let Arraymexe = vmonthexe.split(","); //obtenemos meses de ejecucion separados por ,
                $(Arraymexe).each(function(index, item){
                console.log("mes ejecucion ",index," ",item);
                $(".flexCheckMes:checkbox[value="+item+"]").prop("checked","true");
                $(".flexCheckMes:checkbox[value="+item+"]").attr("disabled","true");
                $(".flexCheckMes:checkbox:checked").each(function() {
            mesesArray.indexOf($(this).val()) === -1 ? mesesArray.push($(this).val()) :''; 
        });
            });
        }

        if(vdiasexe == "0")
        {
            $(".diasexe").prop("checked",true);
            $("#flexCheckAlldaysex").prop("checked",true);
        }
        else 
        {
            let Arraydexe = vdiasexe.split(","); //obtenemos dias de ejecucion separados por ,
            $(Arraydexe).each(function(index, item) {
                $(".diasexe:checkbox[value="+item+"]").prop("checked","true");
                $(".diasexe:checkbox[value="+item+"]").attr("disabled","true");
                $(".diasexe:checkbox:checked").each(function() {
             diasexeArray.indexOf($(this).val()) === -1 ? diasexeArray.push($(this).val()) : '';
        });
            });
        }
     
	    table = $('#dt-jobs').DataTable( {
            "processing": true,
            "serverSide": true,
            "filter": true,
            "scrollX":          true,
            "sScrollX":         "50%",
            "scrollY":            $(document).height() - 300,
            "scrollCollapse":     true,
            "ajax": {
                "url": "@Url.Action("ListarJobsAsoc","Calendario")",
                "type": "POST",
                "datatype": "json",
                "data": function(d) {
                    $.extend( d, params);    
                },
                },drawCallback: function(settings) { 
                    if($(this).find('tbody tr').length <= 1) {
                        $('.dt-paging-button').hide();
                    }
                },
            "columnDefs": [{
                'targets': 0,
                orderable: false,
                'render': function (data, type, full, meta) {
                    return '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">';
                }
            }],
            "columns": [
            {
                "render": function (data,row) { return '<input type="checkbox" name="select_all" class="dt-column-title" value="1" id="example-select-all-item">';   }
            },
                { "data": "idproc", "name": "idproc", "autoWidth": true },
                { "data": "idconex", "name": "idconex", "autoWidth": true },
                { "data": "nombre", "name": "nombre", "autoWidth": true },
                { "data": "descripcion", "name": "descripcion", "autoWidth": true },
                { "data": "path", "name": "path", "autoWidth": true },
            ],
            
            select: {
            style:    'single',   //default but you have to specify it, no idea why
            selector: 'tr,a:not(.btn)'
            },
            "language": {
            "url": "/lib/datatables/dist/locales/es/es.json"
            }
        });
 
    $(".flexCheckMes").on("change",function(){

        if($(this).is(":checked"))
        { 
            var miarrayx=daysMonth(2024,$(this).val());
            var dias=getDays(miarrayx,"");
            if($('.flexCheckMes:checked').length==1)
                $(".diasexe").prop("disabled",true);
                $.each(dias, function( index, item ) 
            {
                //console.log(item);
                $(":checkbox[value="+item.dia+"]").prop("disabled",false);
            });
            //  console.log("mes seleccionado ",$(this).is(":checked")," valor ",$(this).val())
            mesesArray.indexOf($(this).val()) === -1 ? mesesArray.push($(this).val()) :''; 
        } 
        else 
        {
            const index = mesesArray.indexOf($(this).val());
            const x = mesesArray.splice(index, 1);
        }
            console.log("meses seleccionados ",mesesArray.join(","));
    })
  
    $(".flexCheckDias").on("change",function() {
        /*if($(this).is(":checked"))
            console.log("dia seleccionado ",$(this).is(":checked")," valor ",$(this).val())
        */
        var miarrayx=daysMonth(2024,$('.flexCheckMes:checked').val());
        var dias=getDays(miarrayx,$(this).val());
        if($('.flexCheckDias:checked').length==1) {
        $(".diasexe").prop("disabled",true);
        $.each(dias, function( index, item ) {
            //console.log(item);
            $(":checkbox[value="+item.dia+"]").prop("disabled",false);
        });
        }
        else 
            $(".diasexe").prop("disabled",false);
        })

        $(".diasexe").on("change",function() {
        if($(this).is(":checked"))
        {
            diasexeArray.indexOf($(this).val()) === -1 ? diasexeArray.push($(this).val()) : '';
        }
        else 
        {
            const index = diasexeArray.indexOf($(this).val());
            const x = diasexeArray.splice(index, 1);
        }
        console.log("dias ejecucion  seleccionados ",diasexeArray.join(","));
    })

    $("#flexCheckAllmonths").on("change",function() {
        if($(this).is(":checked")) {
            $(".flexCheckMes").prop("checked",true);
            $(".flexCheckMes").attr("disabled", true ); //Disable
        }
        else {
            $(".flexCheckMes").prop("checked",false);
            $(".flexCheckMes").prop( "disabled", false ); //Enable
        }
    });
    
    $("#flexCheckAlldays").on("change",function(){
        if($(this).is(":checked")) {
            $(".flexCheckDias").prop("checked",true);
            $(".flexCheckDias").attr("disabled", true ); //Disable
        }
        else {
            $(".flexCheckDias").prop("checked",false);
            $(".flexCheckDias").prop( "disabled", false ); //Enable
        }
    });
    
    $("#flexCheckAlldaysex").on("change",function() {
        if($(this).is(":checked")) {
            $(".diasexe").prop("checked",true);
            $(".diasexe").attr("disabled", true ); //Disable
        }
        else {
            $(".diasexe").prop("checked",false);
            $(".diasexe").attr( "disabled", false ); //Enable
        }
    });

     if($("#flexCheckAlldaysex").is(":checked"))
{
    $(this).attr("disabled",true);
$(".diasexe").attr("disabled",true);
}
$("#flexCheckAlldaysex").attr("disabled",true);

$("#flexCheckAllmonths").attr("disabled",true);
 
$("#flexCheckAlldays").attr("disabled",true);
    if($("#flexCheckAlldays").is(":checked"))
{
    $(this).attr("disabled",true);
$(".flexCheckDias").attr("disabled",true);
}
$("#IdRepeatAfterFin").attr("disabled",true);

   // recargartabla(table,idcrontab);
  

})


</script>
   
 