@model WebAdminScheduler.Models.CP_CRONTAB;
@{
    ViewData["Title"] = "Detalle";
}
<head>
    <link rel="stylesheet" href="~/css/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/Toast/dist/jquery.toast.min.css" />
    <link rel="stylesheet" href="~/lib/SweetAlert/dist/sweetalert2.min.css" />
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/lib/SweetAlert/dist/sweetalert2.min.js"></script>
    <script src="~/lib/Toast/dist/jquery.toast.min.js"></script>
</head>	

    <body>
        <h1>Calendarios</h1>
        <div class="card">
            <div class="card-header">
                Detalle
            </div>
            <div class="card-body">
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <label for="TittleCrontab" class="col-form-label">IDCRONTAB</label>
                    </div>
                    <div class="col-auto">
                        <label for="txtCrontab" class="col-form-label" id="txtCrontab">@Model.IDCRONTAB</label>
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            Hora Inicio
                        </span>
                    </div>
                    <div class="col-auto">
                        <label for="txtHoraIni" class="col-form-label" id="txtHoraIni"></label>
                    </div>
                    <div class="col-auto">
                        <span id="passwordHelpInline" class="form-text">
                            Hora Fin
                        </span>
                    </div>
                    <div class="col-auto">
                        <label for="txtHoraFin" class="col-form-label" id="txtHoraFin"></label>
                    </div>
                </div><hr />

                <h4>Meses</h4>
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <div class="form-check">
                        <input class="form-check-input" id="checkUptAllmonths" type="checkbox" disabled/> Seleccionar/Deseleccionar todos<br><br>
                        </div>
                    </div>
                </div>

                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <div class="form-check">
                        <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckEnero" disabled>
                            <label class="form-check-label" for="flexCheckTxtEnero">
                                Enero
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckFebrero" disabled>
                            <label class="form-check-label" for="flexCheckTxtFebrero">
                                Febrero
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckMarzo" disabled>
                            <label class="form-check-label" for="flexCheckTxtMarzo">
                                Marzo
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckAbril" disabled>
                            <label class="form-check-label" for="flexCheckTxtAbril">
                                Abril
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckMayo" disabled>
                            <label class="form-check-label" for="flexCheckTxtMayo">
                                Mayo
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckJunio" disabled>
                            <label class="form-check-label" for="flexCheckTxtJunio">
                                Junio
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckJulio" disabled>
                            <label class="form-check-label" for="flexCheckTxtJulio">
                                Julio
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckAgost" disabled>
                            <label class="form-check-label" for="flexCheckTxtAgost">
                                Agosto
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckSept" disabled>
                            <label class="form-check-label" for="flexCheckTxtSept">
                                Septiembre
                            </label>
                        </div>
                    </div>        
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckOct" disabled>
                            <label class="form-check-label" for="flexCheckTxtOct">
                                Octubre
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckNov" disabled>
                            <label class="form-check-label" for="flexCheckTxtNov">
                                Noviembre
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input checkMesDt" type="checkbox" value="" id="flexCheckDic" disabled>
                            <label class="form-check-label" for="flexCheckTxtDic">
                                Diciembre
                            </label>
                        </div>
                    </div>
                </div>
                <hr />

                <h4>Días</h4>
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckLunes" disabled>
                            <label class="form-check-label" for="flexCheckLunes">
                                Lunes
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckMartes" disabled>
                            <label class="form-check-label" for="flexCheckMartes">
                                Martes
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckMiercoles" disabled>
                            <label class="form-check-label" for="flexCheckMiercoles">
                                Miercoles
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckJueves" disabled>
                            <label class="form-check-label" for="flexCheckJueves">
                                Jueves
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckViernes" disabled>
                            <label class="form-check-label" for="flexCheckViernes">
                                Viernes
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckSabado" disabled>
                            <label class="form-check-label" for="flexCheckSabado">
                                Sabado
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDomingo" disabled>
                            <label class="form-check-label" for="flexCheckDomingo">
                                Domingo
                            </label>
                        </div>
                    </div>
                </div>
                <hr />

                <h4>Días Ejecución</h4>
                <table id="tbl-dias-exe" class="display nowrap" width="100%">
                    <thead>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckUnoExe" name="dinamico" disabled>
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtUnoExe">
                                1
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDosExe" name="dinamico" disabled>
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtDosExe">
                                2
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckTresExe" name="dinamico" disabled>
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtTresExe">
                                3
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckCuatroExe" name="dinamico" disabled>
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtCuatroExe">
                                4
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckCincoExe" name="dinamico" disabled>
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtCincoExe">
                                5
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckSeisExe" name="dinamico" disabled>
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtSeisExe">
                                6
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckSieteExe" name="dinamico" disabled>
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtSieteExe">
                                7
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckOchoExe" name="dinamico" disabled>
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtOchoExe">
                                8
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" value="" id="flexChecknueveExe" name="dinamico" disabled>
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtnueveExe">
                                9
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDiezExe" name="dinamico" disabled>
                        </td>
                        <td>
                            <label class="form-check-label" for="flexCheckTxtDiezExe">
                                10
                            </label>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckOnceExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtOnceExe">
                                    11
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDoceExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDoceExe">
                                    12
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckTreceExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtTreceExe">
                                    13
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckCatorceExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtCatorceExe">
                                    14
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckQuinceExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtQuinceExe">
                                    15
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDiesiseisExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDiesiseisExe">
                                    16
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDiesicieteExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDiesicieteExe">
                                    17
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDiesiochoExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDiesiochoExe">
                                    18
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDiecinueveExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtDiecinueveExe">
                                    19
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckVeinteExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtVeinteExe">
                                    20
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="tbl-dias-exe" class="display nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintiunoExe" name="dinamico" disabled>
                            </th>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtVeintiunoExe">
                                    21
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintidosExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtVeintidosExe">
                                    22
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintitresExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtVeintitresExe">
                                    23
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckVeinticuatroExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtVeinticuatroExe">
                                    24
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckVeinticincoExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtVeinticincoExe">
                                    25
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintiseisExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtVeintiseisExe">
                                    26
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintisieteExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtVeintisieteExe">
                                    27
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintiochoExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtVeintiochoExe">
                                    28
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintinueveExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtVeintinueveExe">
                                    29
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckTreintaExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtTreintaExe">
                                    30
                                </label>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckTreintaunoExe" name="dinamico" disabled>
                            </td>
                            <td>
                                <label class="form-check-label" for="flexCheckTxtTreintaunoExe">
                                    31
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="row g-4 align-items-center">
                        <div class="col-auto">
                            <span id="txtRepeatEveryMins" class="form-text">
                                REPEAT_EVERY_MINS
                            </span>
                        </div>
                        <div class="col-auto">
                            <label for="RepeatEveryMins" class="col-form-label" id="RepeatEveryMins">@Model.REPEAT_EVERY_MINS</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="TxtIdRepeatAfterFin" disabled>
                                <label class="form-check-label" for="RepeatAfterFin">
                                    REPEAT_AFTER_FINISH
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>

        <div class="container">
            <table id="dt-jobs" class="display nowrap" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" name="select_all" class="dt-column-title" value="1" id="tblJobs-select-all"></th>
                    <th>IDPROC</th>
                    <th>IDCONEX</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCIÓN</th>
                    <th>PATH</th>  
                    <th>PARAMETRO1</th>
                    <th>PARAMETRO2</th>
                    <th>PARAMETRO3</th>
                    <th>PARAMETRO4</th>
                    <th>DEPENDENCIA</th>
                    <th>INTENTOS</th>
                    <th>ESPERA INTENTO</th>
                    <th>ESTADO</th>
                    <th>FTP</th>
                    <th>IDHOST</th>
                    <th>COMPRESIÓN</th>
                    <th>IDCRONTAB</th>
                    <th>NODE</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </body>
    
<script> 
    var params={};
    var table={};
    var idcrontab="@ViewBag.IDCRONTAB";
    params.idcrontab=idcrontab;

    var idRepAftFin="@Model.REPEAT_AFTER_FINISH";
    var diasSel="@Model.WDAY_M2S_EX";
    var diasSelExe="@Model.DAY_EX";
    var monthexe="@Model.MONTH_EX";
    var vhorainitmp="@Model.HORA_INICIO";
    var vhorafintmp="@Model.HORA_FIN";

    var hora_ini=vhorainitmp[0]+""+vhorainitmp[1]+":"+vhorainitmp[2]+""+vhorainitmp[3];
    var hora_fin=vhorafintmp[0]+""+vhorafintmp[1]+":"+vhorafintmp[2]+""+vhorafintmp[3];

    $("#txtHoraIni").html(hora_ini);
    $("#txtHoraFin").html(hora_fin);
     
    console.log('idRepAftFin',idRepAftFin);
    if (idRepAftFin = 1) {
        $("#TxtIdRepeatAfterFin").prop('checked', true);
    } else {
        $("#TxtIdRepeatAfterFin").prop('checked', false);
    }

    if(diasSel[0]==1){
        $("#flexCheckLunes").prop('checked', true);
    } else {
        $("#flexCheckLunes").prop('checked', false);
    }

    if(diasSel[1]==1){
        $("#flexCheckMartes").prop('checked', true);
    } else {
        $("#flexCheckMartes").prop('checked', false);
    }
 
    if(diasSel[2]==1){
        $("#flexCheckMiercoles").prop('checked', true);
    } else {
        $("#flexCheckMiercoles").prop('checked', false);
    } 
  
    if(diasSel[3]==1){
        $("#flexCheckJueves").prop('checked', true);
    } else {
        $("#flexCheckJueves").prop('checked', false);
    } 

    if(diasSel[4]==1){
        $("#flexCheckViernes").prop('checked', true);
    } else {
        $("#flexCheckViernes").prop('checked', false);
    } 

    if(diasSel[5]==1){
        $("#flexCheckSabado").prop('checked', true);
    } else {
        $("#flexCheckSabado").prop('checked', false);
    } 

    if(diasSel[6]==1){
        $("#flexCheckDomingo").prop('checked', true);
    } else {
        $("#flexCheckDomingo").prop('checked', false);
    } 

    //Validación de los días de ejecución
    if(diasSelExe == 0) {
        console.log('dias select');
        $("#flexCheckUnoExe").prop('checked', true);
    }

    console.log(diasSelExe, 'test');

    if(diasSelExe[0] == 1){
        $("#flexCheckUnoExe").prop('checked', true);
    } else {
        $("#flexCheckUnoExe").prop('checked', false);
    }

    if(diasSelExe[1] == 2){
        $("#flexCheckDosExe").prop('checked', true);
    } else {
        $("#flexCheckDosExe").prop('checked', false);
    }

    if(diasSelExe[2] == 3){
        $("#flexCheckTresExe").prop('checked', true);
    } else {
        $("#flexCheckTresExe").prop('checked', false);
    }

    if(diasSelExe[3] == 4){
        $("#flexCheckCuatroExe").prop('checked', true);
    } else {
        $("#flexCheckCuatroExe").prop('checked', false);
    }

    if(diasSelExe[4] == 5){
        $("#flexCheckCincoExe").prop('checked', true);
    } else {
        $("#flexCheckCincoExe").prop('checked', false);
    }

    if(diasSelExe[5] == 6){
        $("#flexCheckSeisExe").prop('checked', true);
    } else {
        $("#flexCheckSeisExe").prop('checked', false);
    }

    if(diasSelExe[6] == 7){
        $("#flexCheckSieteExe").prop('checked', true);
    } else {
        $("#flexCheckSieteExe").prop('checked', false);
    }

    if(diasSelExe[7] == 8){
        $("#flexCheckOchoExe").prop('checked', true);
    } else {
        $("#flexCheckOchoExe").prop('checked', false);
    }

    if(diasSelExe[8] == 9){
        $("#flexCheckNueveExe").prop('checked', true);
    } else {
        $("#flexCheckNueveExe").prop('checked', false);
    }

    if(diasSelExe[9] == 10){
        $("#flexCheckDiezExe").prop('checked', true);
    } else {
        $("#flexCheckDiezExe").prop('checked', false);
    }

    if(diasSelExe[10] == 11){
        $("#flexCheckOnceExe").prop('checked', true);
    } else {
        $("#flexCheckOnceExe").prop('checked', false);
    }

    if(diasSelExe[11] == 12){
        $("#flexCheckDoceExe").prop('checked', true);
    } else {
        $("#flexCheckDoceExe").prop('checked', false);
    }

    if(diasSelExe[12] == 13){
        $("#flexCheckTreceExe").prop('checked', true);
    } else {
        $("#flexCheckTreceExe").prop('checked', false);
    }

    if(diasSelExe[13] == 14){
        $("#flexCheckCatorceExe").prop('checked', true);
    } else {
        $("#flexCheckCatorceExe").prop('checked', false);
    }

    if(diasSelExe[14] == 15){
        $("#flexCheckQuinceExe").prop('checked', true);
    } else {
        $("#flexCheckQuinceExe").prop('checked', false);
    }

    if(diasSelExe[15] == 16){
        $("#flexCheckDiesiseisExe").prop('checked', true);
    } else {
        $("#flexCheckDiesiseisExe").prop('checked', false);
    }

    if(diasSelExe[16] == 17){
        $("#flexCheckDiesicieteExe").prop('checked', true);
    } else {
        $("#flexCheckDiesicieteExe").prop('checked', false);
    }

    if(diasSelExe[17] == 18){
        $("#flexCheckDiesiochoExe").prop('checked', true);
    } else {
        $("#flexCheckDiesiochoExe").prop('checked', false);
    }

    if(diasSelExe[18] == 19){
        $("#flexCheckDiecinueveExe").prop('checked', true);
    } else {
        $("#flexCheckDiecinueveExe").prop('checked', false);
    }

    if(diasSelExe[19] == 20){
        $("#flexCheckVeinteExe").prop('checked', true);
    } else {
        $("#flexCheckVeinteExe").prop('checked', false);
    }

    if(diasSelExe[20] == 21){
        $("#flexCheckVeintiunoExe").prop('checked', true);
    } else {
        $("#flexCheckVeintiunoExe").prop('checked', false);
    }

    if(diasSelExe[21] == 22){
        $("#flexCheckVeintidosExe").prop('checked', true);
    } else {
        $("#flexCheckVeintidosExe").prop('checked', false);
    }

    if(diasSelExe[22] == 23){
        $("#flexCheckVeintitresExe").prop('checked', true);
    } else {
        $("#flexCheckVeintitresExe").prop('checked', false);
    }

    if(diasSelExe[23] == 24){
        $("#flexCheckVeinticuatroExe").prop('checked', true);
    } else {
        $("#flexCheckVeinticuatroExe").prop('checked', false);
    }

    if(diasSelExe[24] == 25){
        $("#flexCheckVeinticincoExe").prop('checked', true);
    } else {
        $("#flexCheckVeinticincoExe").prop('checked', false);
    }

    if(diasSelExe[25] == 26){
        $("#flexCheckVeintiseisExe").prop('checked', true);
    } else {
        $("#flexCheckVeintiseisExe").prop('checked', false);
    }

    if(diasSelExe[26] == 27){
        $("#flexCheckVeintisieteExe").prop('checked', true);
    } else {
        $("#flexCheckVeintisieteExe").prop('checked', false);
    }

    if(diasSelExe[27] == 28){
        $("#flexCheckVeintiochoExe").prop('checked', true);
    } else {
        $("#flexCheckVeintiochoExe").prop('checked', false);
    }

    if(diasSelExe[28] == 29){
        $("#flexCheckVeintinueveExe").prop('checked', true);
    } else {
        $("#flexCheckVeintinueveExe").prop('checked', false);
    }

    if(diasSelExe[29] == 30){
        $("#flexCheckTreintaExe").prop('checked', true);
    } else {
        $("#flexCheckTreintaExe").prop('checked', false);
    }

    if(diasSelExe[30] == 31){
        $("#flexCheckTreintaunoExe").prop('checked', true);
    } else {
        $("#flexCheckTreintaunoExe").prop('checked', false);
    }

    //Validación de los meses
    if(monthexe=="0")
    {
        $(".checkMesDt").prop("checked",true);
        $("#checkUptAllmonths").prop("checked",true);
    }
    else 
    {
        let Arraymexe = monthexe.split(","); //obtenemos meses de ejecucion separados por ,
            $(Arraymexe).each(function(index, item){
            console.log("mes ejecucion ",index," ",item);
            $(".checkMesDt:checkbox[value="+item+"]").prop("checked","true").trigger("change");
        });
    }

    function toggle(source) {
      checkboxes = document.getElementsByName('dinamico');

        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    $(document).on("ready",function() {
        table = $('#dt-jobs').DataTable( {
            "processing": true,
            "serverSide": true,
            "filter": true,
            "scrollX":          true,
            "sScrollX":         "50%",
            "scrollY":            $(document).height() - 300,
            "scrollCollapse":     true,
            "ajax": {
                "url": "@Url.Action("ListarJobsAsoc","Calendario")",
                "type": "GET",
                "datatype": "json",
                "data": function(d){
                $.extend( d, params);    
                },
        },drawCallback: function(settings){ 
			  if($(this).find('tbody tr').length <= 1){
			  $('.dt-paging-button').hide();
			}
		},
            "columnDefs": [{
            'targets': 0,
            orderable: false,
            'render': function (data, type, full, meta){
                return '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">';
            }
            }],
            "columns": [
            {
                "render": function (data,row) { return '<input type="checkbox" name="select_all" class="dt-column-title" value="1" id="example-select-all-item">';   }
            },
                { "data": "idproc", "name": "idproc", "autoWidth": true },
                { "data": "idconex", "name": "idconex", "autoWidth": true },
                { "data": "nombre", "name": "nombre", "autoWidth": true },
                { "data": "descripcion", "name": "descripcion", "autoWidth": true },
                { "data": "path", "name": "path", "autoWidth": true },
                { "data": "parametrO1", "name": "parametrO1", "autoWidth": true },
                { "data": "parametrO2", "name": "parametrO2", "autoWidth": true },
                { "data": "parametrO3", "name": "parametrO3", "autoWidth": true },
                { "data": "parametrO4", "name": "parametrO4", "autoWidth": true },
                { "data": "dependencia", "name": "dependencia", "autoWidth": true },
                { "data": "intentos", "name": "intentos", "autoWidth": true },
                { "data": "esperA_INTENTO", "name": "esperA_INTENTO", "autoWidth": true },
                { "data": "estado", "name": "estado", "autoWidth": true },
                { "data": "ftp", "name": "ftp", "autoWidth": true },
                { "data": "idhost", "name": "idhost", "autoWidth": true },
                { "data": "compresion", "name": "compresion", "autoWidth": true },
                { "data": "idcrontab", "name": "idcrontab", "autoWidth": true },
                { "data": "node", "name": "node", "autoWidth": true },
            ],
            
            select: {
            style:    'single',   //default but you have to specify it, no idea why
            selector: 'tr,a:not(.btn)'
            },
            "language": {
            "url": "/lib/datatables/dist/locales/es/es.json"
            }
        });
 
        table.on('select', function (e, dt, type, indexes) {
        console.log(e.target);
        if (type === 'row'   ) {
            var nodes = table
            .rows(indexes)
            .nodes()
            .each(function () { 
            $('td:first-child', this).find('input').prop('checked', true); 
            });
        }
        });

        table.on('deselect', function (e, dt, type, indexes) {
        if (type === 'row') {
        $('#tblJobs-select-all').prop("checked",false);
            table
            .rows(indexes)
            .nodes()
            .each(function () { 
            $('td:first-child', this).find('input').prop('checked', false); 
            });
        }
        });
        
        // Handle click on "Select all" control
        $('#tblJobs-select-all').on('click', function(){
            
       if(table.settings()[0]._select.style=='multi')
        { 
        // Get all rows with search applied
            var rows = table.rows({ 'search': 'applied' }).nodes();
            // Check/uncheck checkboxes for all rows in the table
        if(this.checked){
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
            
            var selData =   table.rows().select();
            var selData =   table.rows(".selected").data();
        }
        else 
        {
            var selData =   table.rows().deselect();
        }
        }
        else 
        return false;
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#dt-jobs tbody').on('change', 'input[type="checkbox"]', function(){
        // If checkbox is not checked
        if(!this.checked){
          var el = $('#tblJobs-select-all').get(0);
          // If "Select all" control is checked and has 'indeterminate' property
          if(el && el.checked && ('indeterminate' in el)){
          // Set visual state of "Select all" control
          // as 'indeterminate'
          el.indeterminate = true;
        }
      }
    });
   // recargartabla(table,idcrontab);
    })
      
</script>