@model WebAdminScheduler.Models.CP_CRONTAB;
@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" href="~/css/clockpicker.css" />
    <link rel="stylesheet" href="~/css/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/Toast/dist/jquery.toast.min.css" />
    <link rel="stylesheet" href="~/lib/SweetAlert/dist/sweetalert2.min.css" />
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/lib/SweetAlert/dist/sweetalert2.min.js"></script>
    <script src="~/lib/Toast/dist/jquery.toast.min.js"></script>
    <script src="~/js/clockpicker.js"></script>
</head>	

@using (Html.BeginForm("UpdateCrontab", "Calendario", FormMethod.Post))
{
    <body>
        <h1>Calendarios</h1>
        <div class="card">
            <div class="card-header">
                Editar
            </div>
            <div class="card-body">
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
              Hora Inicio
            </span>
          </div>
          <div class="col-auto">
            <div class="col-sm-4">
                <input type="text" class="form-control clockpicker" 
                    data-placement="right" data-align="top" name="horaIni" id="horaIni" data-autoclose="true" readonly="">
            </div>
          </div>

          <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
              Hora Fin
            </span>
          </div>

          <div class="col-auto">
            <div class="col-sm-4">
                <input type="text" class="form-control clockpicker" 
                    data-placement="right" data-align="top" name="horaFin" id="horaFin" data-autoclose="true" readonly="">
            </div>
          </div>
       
        </div><hr />
            
            <h4>Meses</h4>
            <div class="row g-4 align-items-center">
                <div class="col-auto">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" onClick="toggle_month(this)" /> Seleccionar/Deseleccionar todos<br><br>
                    </div>
                </div>
            </div>

            <div class="row g-4 align-items-center">
                <div class="col-auto">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptEnero" name="meses">
                        <label class="form-check-label" for="flexCheckTxtEnero">
                            Enero
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptFebrero" name="meses">
                        <label class="form-check-label" for="flexCheckTxtFebrero">
                            Febrero
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptMarzo" name="meses">
                        <label class="form-check-label" for="flexCheckTxtMarzo">
                            Marzo
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptAbril" name="meses">
                        <label class="form-check-label" for="flexCheckTxtAbril">
                            Abril
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptMayo" name="meses">
                        <label class="form-check-label" for="flexCheckTxtMayo">
                            Mayo
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptJunio" name="meses">
                        <label class="form-check-label" for="flexCheckTxtJunio">
                            Junio
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptJulio" name="meses">
                        <label class="form-check-label" for="flexCheckTxtJulio">
                            Julio
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptAgost" name="meses">
                        <label class="form-check-label" for="flexCheckTxtAgost">
                            Agosto
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptSept" name="meses">
                        <label class="form-check-label" for="flexCheckTxtSept">
                            Septiembre
                        </label>
                    </div>
                </div>        
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptOct" name="meses">
                        <label class="form-check-label" for="flexCheckTxtOct">
                            Octubre
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptNov" name="meses">
                        <label class="form-check-label" for="flexCheckTxtNov">
                            Noviembre
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptDic" name="meses">
                        <label class="form-check-label" for="flexCheckTxtDic">
                            Diciembre
                        </label>
                    </div>
                </div>
            </div>
            <hr />
                
            <h4>Días</h4>
            <div class="row g-4 align-items-center">
                <div class="col-auto">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" onClick="toggle_week_days(this)" /> Seleccionar/Deseleccionar todos<br><br>
                    </div>
                </div>
            </div>

            <div class="row g-4 align-items-center">
                <div class="col-auto">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptLunes" name="dias_semana">
                    <label class="form-check-label" for="flexCheckUptLunes">
                        Lunes
                    </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptMartes" name="dias_semana">
                    <label class="form-check-label" for="flexCheckUptMartes">
                        Martes
                    </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptMiercoles" name="dias_semana">
                    <label class="form-check-label" for="flexCheckUptMiercoles">
                        Miercoles
                    </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptJueves" name="dias_semana">
                    <label class="form-check-label" for="flexCheckUptJueves">
                        Jueves
                    </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptViernes" name="dias_semana">
                    <label class="form-check-label" for="flexCheckUptViernes">
                        Viernes
                    </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptSabado" name="dias_semana">
                    <label class="form-check-label" for="flexCheckUptSabado">
                        Sabado
                    </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptDomingo" name="dias_semana">
                    <label class="form-check-label" for="flexCheckUptDomingo">
                        Domingo
                    </label>
                    </div>
                </div>
            </div>
            <hr />

            <h4>Días Ejecución</h4>
            <div class="row g-4 align-items-center">
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" onClick="toggle(this)" /> Seleccionar/Deseleccionar todos<br><br>
                    </div>
                </div>
            </div>
            
            <table id="tbl-dias-exe" class="display nowrap" width="100%">
            <thead>
            <tr>
                <td>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptUnoExe" name="dinamico" >
                </td>
                <td>
                    <label class="form-check-label" for="flexCheckTxtUnoExe">
                        1
                    </label>
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptDosExe" name="dinamico" >
                </td>
                <td>
                    <label class="form-check-label" for="flexCheckTxtDosExe">
                        2
                    </label>
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptTresExe" name="dinamico" >
                </td>
                <td>
                    <label class="form-check-label" for="flexCheckTxtTresExe">
                        3
                    </label>
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptCuatroExe" name="dinamico" >
                </td>
                <td>
                    <label class="form-check-label" for="flexCheckTxtCuatroExe">
                        4
                    </label>
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptCincoExe" name="dinamico" >
                </td>
                <td>
                    <label class="form-check-label" for="flexCheckTxtCincoExe">
                        5
                    </label>
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptSeisExe" name="dinamico" >
                </td>
                <td>
                    <label class="form-check-label" for="flexCheckTxtSeisExe">
                        6
                    </label>
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptSieteExe" name="dinamico" >
                </td>
                <td>
                    <label class="form-check-label" for="flexCheckTxtSieteExe">
                        7
                    </label>
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptOchoExe" name="dinamico" >
                </td>
                <td>
                    <label class="form-check-label" for="flexCheckTxtOchoExe">
                        8
                    </label>
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptnueveExe" name="dinamico" >
                </td>
                <td>
                    <label class="form-check-label" for="flexCheckTxtnueveExe">
                        9
                    </label>
                </td>
                <td>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckUptDiezExe" name="dinamico" >
                </td>
                <td>
                    <label class="form-check-label" for="flexCheckTxtDiezExe">
                        10
                    </label>
                </td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptOnceExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtOnceExe">
                            11
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptDoceExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtDoceExe">
                            12
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptTreceExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtTreceExe">
                            13
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptCatorceExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtCatorceExe">
                            14
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptQuinceExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtQuinceExe">
                            15
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptDiesiseisExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtDiesiseisExe">
                            16
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptDiesicieteExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtDiesicieteExe">
                            17
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptDiesiochoExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtDiesiochoExe">
                            18
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptDiecinueveExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtDiecinueveExe">
                            19
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptVeinteExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtVeinteExe">
                            20
                        </label>
                    </td>
                </tr>
            </tbody>
            </table>
            <table id="tbl-dias-exe" class="display nowrap" width="100%">
                <thead>
                <tr>
                    <th>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckVeintiunoExe" name="dinamico" >
                    </th>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtVeintiunoExe">
                            21
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptVeintidosExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtVeintidosExe">
                            22
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptVeintitresExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtVeintitresExe">
                            23
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptVeinticuatroExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtVeinticuatroExe">
                            24
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptVeinticincoExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtVeinticincoExe">
                            25
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptVeintiseisExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtVeintiseisExe">
                            26
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptVeintisieteExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtVeintisieteExe">
                            27
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptVeintiochoExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtVeintiochoExe">
                            28
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptVeintinueveExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtVeintinueveExe">
                            29
                        </label>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptTreintaExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtTreintaExe">
                            30
                        </label>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckUptTreintaunoExe" name="dinamico" >
                    </td>
                    <td>
                        <label class="form-check-label" for="flexCheckTxtTreintaunoExe">
                            31
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr />

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <span id="txtRepeatEveryMins" class="form-text">
                            REPEAT_EVERY_MINS
                        </span>
                    </div>
                    <div class="col-auto">
                        <input type="number" min="1" id="UptRepeatEveryMins" class="form-control" data-placement="right" data-align="top" data-autoclose="true">
                        
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="IdUptRepeatAfterFin">
                            <label class="form-check-label" for="RepeatAfterFin">
                                REPEAT_AFTER_FINISH
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a id="btnSave" onclick="Guardar()" class="btn btn-primary">Guardar</a>
        </div>
    </div>
    </body>
}

<script> 
    var params={};
    var table={};
    var idcrontab="@ViewBag.IDCRONTAB";

    var vhorainitmp="@Model.HORA_INICIO";
    var vhorafintmp="@Model.HORA_FIN";
    var idRepAftFin="@Model.REPEAT_AFTER_FINISH";
    var diasSel="@Model.WDAY_M2S_EX";
    
    var hora_ini=vhorainitmp[0]+""+vhorainitmp[1]+":"+vhorainitmp[2]+""+vhorainitmp[3];
    var hora_fin=vhorafintmp[0]+""+vhorafintmp[1]+":"+vhorafintmp[2]+""+vhorafintmp[3];
 
    params.idcrontab=idcrontab;

    if(diasSel[0]==1){
        $("#flexCheckUptLunes").prop('checked', true);
    } else {
        $("#flexCheckUptLunes").prop('checked', false);
    }
    
    if(diasSel[1]==1){
        $("#flexCheckUptMartes").prop('checked', true);
    } else {
        $("#flexCheckUptMartes").prop('checked', false);
    }
 
    if(diasSel[2]==1){
        $("#flexCheckUptMiercoles").prop('checked', true);
    } else {
        $("#flexCheckUptMiercoles").prop('checked', false);
    } 
  
    if(diasSel[3]==1){
        $("#flexCheckUptJueves").prop('checked', true);
    } else {
        $("#flexCheckUptJueves").prop('checked', false);
    } 

    if(diasSel[4]==1){
        $("#flexCheckUptViernes").prop('checked', true);
    } else {
        $("#flexCheckUptViernes").prop('checked', false);
    } 

    if(diasSel[5]==1){
        $("#flexCheckUptSabado").prop('checked', true);
    } else {
        $("#flexCheckUptSabado").prop('checked', false);
    } 

    if(diasSel[6]==1){
        $("#flexCheckUptDomingo").prop('checked', true);
    } else {
        $("#flexCheckUptDomingo").prop('checked', false);
    } 

    if (idRepAftFin == 1) {
        $("#IdUptRepeatAfterFin").prop('checked', true);
    } else {
        $("#IdUptRepeatAfterFin").prop('checked', false);
    }

    var horainicio="@Model.HORA_INICIO[0]";
    var minutoinicio="@Model.HORA_INICIO[1]";
    var horafin="@Model.HORA_FIN[2]";
    var minutofin="@Model.HORA_FIN[3]";
    var repeat_every_mins = "@Model.REPEAT_EVERY_MINS";

    console.log("hora inicio ",horainicio)
    function toggle(source) {
        checkboxes = document.getElementsByName('dinamico');

        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    } 

    function toggle_week_days(source) {
      checkboxes = document.getElementsByName('dias_semana');

      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }

    function toggle_month(source) {
        checkboxes = document.getElementsByName('meses');

        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    $(document).on("ready",function() {
        $('.clockpicker').clockpicker();
        $("#horaIni").val(hora_ini);
        $("#horaFin").val(hora_fin);
        $("#UptRepeatEveryMins").val(repeat_every_mins);
    })

    function Guardar() {
        hora_ini=$('#horaIni').val();
        hora_ini=hora_ini.replace(":", "");

        hora_fin=$('#horaFin').val();
        hora_fin=hora_fin.replace(":", "");

        repeat_every_mins=$('#UptRepeatEveryMins').val();

        var diastext=($('#flexCheckUptLunes').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptMartes').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptMiercoles').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptJueves').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptViernes').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptSabado').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptDomingo').is(":checked") ? 1 : 0) + "";
            
        var diasexetext=($('#flexCheckUptUnoExe').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptDosExe').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptTresExe').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptCuatroExe').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptCincoExe').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptSeisExe').is(":checked") ? 1 : 0) + ""
            +($('#flexCheckUptSieteExe').is(":checked") ? 1 : 0) + "";

        var data_cron={
            "oCrontab": {
            "IDCRONTAB": idcrontab,
            "FECHA":"00000000",
            "HORA_INICIO":hora_ini,
            "HORA_FIN":hora_fin,
            "RECURRENCIA":"0000",
            "WDAY_M2S_EX":diastext,
            "DAY_EX":"0",
            "MONTH_EX":"0",
            "REPEAT_EVERY_MINS":repeat_every_mins,
            "REPEAT_AFTER_FINISH":$('#IdUptRepeatAfterFin').is(":checked") ? 1 : 0
        }
    };

    if (idcrontab != 0) {
        jQuery.ajax({
        method: "POST",
        async: true,
        dataType: "json",
        data: JSON.stringify(data_cron),
        contentType: "application/json; charset=utf-8",
        url: "@Url.Action("Update","Calendario")",

        success: function (data) {
            Swal.fire({
            title: "Calendario Actualizado!",
            text: "Click en aceptar para ver calendarios!",
            icon: "success",
            confirmButtonText: "Aceptar",
        }).then((result) => {
        if (result.isConfirmed) {
            $(location).attr("href","@Url.Action("Index","Calendario")")
        }  
    });
}
});
} else {
    $("#horaIni").val("");
    $("#horaFin").val("");
    $("#UptRepeatEveryMins").val("");
}
}
</script>