@model WebAdminScheduler.Models.CP_PROCESOS;
@{
    ViewData["Title"] = "Dependencia";
}
<head>
    <link rel="stylesheet" href="~/css/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/Toast/dist/jquery.toast.min.css" />
    <link rel="stylesheet" href="~/lib/SweetAlert/dist/sweetalert2.min.css" />
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/lib/SweetAlert/dist/sweetalert2.min.js"></script>
    <script src="~/lib/Toast/dist/jquery.toast.min.js"></script>
</head>

<h1>Dependencia</h1>
    <body>
        <div class="card">
            <div class="card-header">
                Detalle
            </div>
            <div class="card-body">
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <label for="TittleProc" class="col-form-label"><strong>IDPROC:</strong></label>
                        <label for="txtIdProc" class="col-form-label">@Model.IDPROC</label>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
<script> 
    var params={};
    var table={};

    var idproc="@Model.IDPROC";
    params.idproc=idproc;

    var idDependencia = "@Model.DEPENDENCIA";
    var idflexFtp = "@Model.FTP";
    var idComprens = "@Model.COMPRESION";
    
    function recargartabla(objeto,value)
    {
    params.idproc=value;

    objeto.ajax.reload(null,false); //reload datatable ajax 
    }

    if (idDependencia == 1) {
        $("#TxtIdDependencia").prop('checked', true);
    } else {
        $("#TxtIdDependencia").prop('checked', false);
    }

    if (idflexFtp == 1) {
        $("#flexCheckFtp").prop('checked', true);
    } else {
        $("#flexCheckFtp").prop('checked', false);
    }

    if (idComprens = 1) {
        $("#CheckComprensComprension").prop('checked', true);
    } else {
        $("#CheckComprension").prop('checked', false);
    }

    function toggle(source) {
      checkboxes = document.getElementsByName('dinamico');

        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
   
    $(document).on("ready",function() {
        table = $('#dt-registro').DataTable( {
            "processing": true,
            "serverSide": true,
            "filter": false,
            "scrollX":          true,
            "sScrollX":         "50%",
            "scrollY":            $(document).height() - 300,
            "scrollCollapse":     true,
            "ajax": {
                "url": "@Url.Action("ListarRegistro","Jobs")",
                "type": "POST",
                "datatype": "json",
                "data": function(d) {
                    $.extend( d, params);    
                }
		    },
            "columns": [
                { "data": "idreg", "name": "idreg", "autoWidth": true },
                { "data": "feC_INICIO", "name": "feC_INICIO", "autoWidth": true },
                { "data": "feC_EJECUCION", "name": "feC_EJECUCION", "autoWidth": true },
                { "data": "feC_FINALIZO", "name": "feC_FINALIZO", "autoWidth": true },
                { "data": "estado", "name": "estado", "autoWidth": true },
            ],
            "language": {
            "url": "/lib/datatables/dist/locales/es/es.json"
            },
            initComplete: function (settings, json) {
                console.log("terminooooo");
                $('#dt-registro_wrapper .dt-end').first().append('<div class="dt-length"><label for="dt-length-0">Filtrar '
                +'<select   aria-controls="dt-registro" id="slcFilterby" class="dt-input slcFilterby">'
                +'<option value="0">Dia de hoy</option>'
                +'<option value="1">Semana'
                +'<option value="2">15 dias atras</option>'
                +'</select></label></div>');

                $(".slcFilterby").on("change",function() {
                    params.filterby=$(this).val();
                    recargartabla(table,idproc)
                });
            }
        });
 
        table.on('select', function (e, dt, type, indexes) {
            console.log(e.target);
            if (type === 'row'   ) {
                var nodes = table
                .rows(indexes)
                .nodes()
                .each(function () { 
                    $('td:first-child', this).find('input').prop('checked', true); 
                });
            }
        });

        table.on('deselect', function (e, dt, type, indexes) {
            if (type === 'row') {
                $('#example-select-all').prop("checked",false);
                    table
                    .rows(indexes)
                    .nodes()
                    .each(function () { 
                        $('td:first-child', this).find('input').prop('checked', false); 
                });
            }
        });
        
        // Handle click on "Select all" control
        $('#example-select-all').on('click', function() {
          
        console.log("esta selecconado: ",$(this).is(":checked")," otra forma ",this.checked )
        // Get all rows with search applied
          var rows = table.rows({ 'search': 'applied' }).nodes();
          // Check/uncheck checkboxes for all rows in the table
        if(this.checked){
          $('input[type="checkbox"]', rows).prop('checked', this.checked);
          var selData =   table.rows().select();
          var selData =   table.rows(".selected").data();
        }
        else 
        {
            var selData =   table.rows().deselect();
        }
    });

    // Handle click on checkbox to set state of "Select all" control
    $('#example tbody').on('change', 'input[type="checkbox"]', function() {
        // If checkbox is not checked
        if(!this.checked) {
            var el = $('#example-select-all').get(0);
            // If "Select all" control is checked and has 'indeterminate' property
            if(el && el.checked && ('indeterminate' in el)) {
                // Set visual state of "Select all" control
                // as 'indeterminate'
                el.indeterminate = true;
            }
        }
    });
        
    table.on('select', function (e, dt, type, indexes) {
        console.log(e.target);
        if (type === 'row'   ) {
            var nodes = table
            .rows(indexes)
            .nodes()
            .each(function () { 
                $('td:first-child', this).find('input').prop('checked', true); 
            });
            //.find(':checkbox', 'td:first-child').checked = true; 
        }
    });

    table.on('deselect', function (e, dt, type, indexes) {
        if (type === 'row') {
            $('#example-select-all').prop("checked",false);
                table
                .rows(indexes)
                .nodes()
                .each(function () { 
                    $('td:first-child', this).find('input').prop('checked', false); 
                });
            }
        });
        
        // Handle click on "Select all" control
        $('#example-select-all').on('click', function() {
            console.log("esta selecconado: ",$(this).is(":checked")," otra forma ",this.checked )
            // Get all rows with search applied
                var rows = table.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
            if(this.checked) {
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
                
                var selData =   table.rows().select();
                var selData =   table.rows(".selected").data();
            }
            else 
            {
                var selData =   table.rows().deselect();
            }
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#example tbody').on('change', 'input[type="checkbox"]', function() {
            // If checkbox is not checked
            if(!this.checked) {
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if(el && el.checked && ('indeterminate' in el)){
                // Set visual state of "Select all" control
                // as 'indeterminate'
                el.indeterminate = true;
            }
        }
    });
    recargartabla(table,idproc);
})
      
</script>