@model WebAdminScheduler.Models.CP_PROCESOS;
@{
    ViewData["Title"] = "Detalle";
}
<head>
    <link rel="stylesheet" href="~/css/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/Toast/dist/jquery.toast.min.css" />
    <link rel="stylesheet" href="~/lib/SweetAlert/dist/sweetalert2.min.css" />
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/lib/SweetAlert/dist/sweetalert2.min.js"></script>
    <script src="~/lib/Toast/dist/jquery.toast.min.js"></script>
</head>

<h1>Detalle Jobs</h1>
    <body>
        <div class="card">
            <div class="card-header">
                <a href="#" class="btn btn-primary">Detalle</a>
            </div>
            <div class="card-body">
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <label for="TittleProc" class="col-form-label"><strong>IDPROC:</strong></label>
                    </div>
                    <div class="col-auto">
                        <label for="txtIdProc" class="col-form-label">@Model.IDPROC</label>
                    </div>
                    <div class="col-auto">
                        <label for="TittleConex" class="col-form-label"><strong>IDCONEX:</strong></label>
                    </div>
                    <div class="col-auto">
                        <label for="txtIdConex" class="col-form-label">@Model.IDCONEX</label>
                    </div>
                    <div class="col-auto">
                        <label for="TittleNombre" class="col-form-label"><strong>NOMBRE:</strong></label>
                    </div>
                    <div class="col-auto">
                        <label for="txtNombre" class="col-form-label">@Model.NOMBRE</label>
                    </div>
                    <div class="col-auto">
                        <label for="TittleDescripcion" class="col-form-label"><strong>DESCRIPCIÓN:</strong></label>
                    </div>
                    <div class="col-auto">
                        <label for="txtDescripcion" class="col-form-label">@Model.DESCRIPCION</label>
                    </div>
                </div>

                <br/>
                <div class="row g-4 align-items-center">
                    <div class="col-auto">
                        <label for="TittlePath" class="col-form-label"><strong>PATH:</strong></label>
                    </div>
                    <div class="col-auto">
                        <label for="txtPath" class="col-form-label">@Model.PATH</label>
                    </div>
                    <div class="col-auto">
                        <label for="TittleParametro1" class="col-form-label"><strong>PARAMETRO1:</strong></label>
                    </div>
                    <div class="col-auto">
                        <label for="txtParametro1" class="col-form-label">@Model.PARAMETRO1</label>
                    </div>
                    <div class="col-auto">
                        <label for="TittleParametroDos" class="col-form-label"><strong>PARAMETRO2:</strong></label>
                    </div>
                    <div class="col-auto">
                        <label for="txtParametro2" class="col-form-label">@Model.PARAMETRO2</label>
                    </div>
                    <div class="col-auto">
                        <label for="TittleParametroTres" class="col-form-label"><strong>PARAMETRO3:</strong></label>
                    </div>
                    <div class="col-auto">
                        <label for="txtParametro3" class="col-form-label">@Model.PARAMETRO3</label>
                    </div>
                    <div class="col-auto">
                        <label for="TittleParametroCuatro" class="col-form-label"><strong>PARAMETRO4:</strong></label>
                    </div>
                    <div class="col-auto">
                        <label for="txtParametro4" class="col-form-label">@Model.PARAMETRO4</label>
                    </div>
                    <div class="row g-4 align-items-center">
                        <div class="col-auto">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="TxtIdDependencia" disabled>
                                <label class="form-check-label" for="IdDependencia">
                                    <strong>DEPENDENCIA</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <span id="RepeatIntentos" class="form-text">
                                <strong>INTENTOS:</strong>
                            </span>
                        </div>
                        <div class="col-auto">
                            <label for="txtIntento" class="col-form-label">@Model.INTENTOS</label>
                        </div>
                        <div class="col-auto">
                            <span id="RepeatEsperaIntento" class="form-text">
                                <strong>ESPERA INTENTO:</strong>
                            </span>
                        </div>
                        <div class="col-auto">
                            <label for="txtIntento" class="col-form-label">@Model.ESPERA_INTENTO</label>
                        </div>
                        <div class="col-auto">
                            <span id="RepeatEstado" class="form-text">
                               <strong>ESTADO:</strong>
                            </span>
                        </div>
                        <div class="col-auto">
                            <label for="txtEstado" class="col-form-label">@Model.ESTADO</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckFtp" disabled>
                                <label class="form-check-label" for="flexCheckFtp">
                                    <strong>FTP</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <span id="idHost" class="form-text">
                                <strong>IDHOST</strong>
                            </span>
                        </div>
                        <div class="col-auto">
                            <label for="txtHost" class="col-form-label">@Model.IDHOST</label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="CheckComprension" disabled>
                                <label class="form-check-label" for="CheckComprension">
                                    <strong>COMPRESIÓN</strong>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 align-items-center">
                        <div class="col-auto">
                            <span id="Node" class="form-text">
                                <strong>NODE:</strong>
                            </span>
                        </div>
                        <div class="col-auto">
                            <label for="txtHost" class="col-form-label">@Model.NODE</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <h4 style="text-align: center;">Detalle de Registro</h4>
            </div>
        </div>
        <div class="container">
            <table id="dt-registro" class="display nowrap" width="100%">
                <thead>
                <tr>
                    <th><input type="checkbox" name="select_all" class="dt-column-title" value="1" id="tblJobs-select-all"></th>
                    <th>IDREG</th>
                    <th>IDPROC</th>
                    <th>FEC_INICIO</th>
                    <th>FEC_EJECUCION</th>
                    <th>FEC_FINALIZO</th>  
                    <th>ESTADO</th>
                    <th>FLAG_ALARMA</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </body>
    
<script> 
    var params={};
    var table={};

    var idproc="@Model.IDPROC";
    params.idproc=idproc;

    var idDependencia = "@Model.DEPENDENCIA";
    var idflexFtp = "@Model.FTP";
    var idComprens = "@Model.COMPRESION";

    if (idDependencia == 1) {
        $("#TxtIdDependencia").prop('checked', true);
    } else {
        $("#TxtIdDependencia").prop('checked', false);
    }

    if (idflexFtp == 1) {
        $("#flexCheckFtp").prop('checked', true);
    } else {
        $("#flexCheckFtp").prop('checked', false);
    }

    if (idComprens = 1) {
        $("#CheckComprensComprension").prop('checked', true);
    } else {
        $("#CheckComprension").prop('checked', false);
    }

    function toggle(source) {
      checkboxes = document.getElementsByName('dinamico');

        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    $(document).on("ready",function() {

        table = $('#dt-registro').DataTable( {
            "processing": true,
            "serverSide": true,
            "filter": true,
            "scrollX":          true,
            "sScrollX":         "50%",
            "scrollY":            $(document).height() - 300,
            "scrollCollapse":     true,
            "ajax": {
                "url": "@Url.Action("ListarRegistro","Jobs")",
                "type": "POST",
                "datatype": "json",
                "data": function(d){
                $.extend( d, params);    
                },
        },
            "columnDefs": [{
            'targets': 0,
            orderable: false,
            'render': function (data, type, full, meta){
                return '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">';
            }
            }],
            "columns": [
            {
                "render": function (data,row) { return '<input type="checkbox" name="select_all" class="dt-column-title" value="1" id="example-select-all">';   }
            },
                { "data": "idreg", "name": "idreg", "autoWidth": true },
                { "data": "idproc", "name": "idproc", "autoWidth": true },
                { "data": "feC_INICIO", "name": "feC_INICIO", "autoWidth": true },
                { "data": "feC_EJECUCION", "name": "feC_EJECUCION", "autoWidth": true },
                { "data": "feC_FINALIZO", "name": "feC_FINALIZO", "autoWidth": true },
                { "data": "estado", "name": "estado", "autoWidth": true },
                { "data": "flaG_ALARMA", "name": "flaG_ALARMA", "autoWidth": true },
            ],
            
            select: {
            style:    'os',   //default but you have to specify it, no idea why
            selector: 'tr,a:not(.btn)'
            },
            "language": {
            "url": "/lib/datatables/dist/locales/es/es.json"
            }
        });
 
        table.on('select', function (e, dt, type, indexes) {
        console.log(e.target);
        if (type === 'row'   ) {
            var nodes = table
            .rows(indexes)
            .nodes()
            .each(function () { 
            $('td:first-child', this).find('input').prop('checked', true); 
            });
        }
        });

        table.on('deselect', function (e, dt, type, indexes) {
        if (type === 'row') {
        $('#example-select-all').prop("checked",false);
            table
            .rows(indexes)
            .nodes()
            .each(function () { 
            $('td:first-child', this).find('input').prop('checked', false); 
            });
        }
        });
        
        // Handle click on "Select all" control
        $('#example-select-all').on('click', function() {
          
        console.log("esta selecconado: ",$(this).is(":checked")," otra forma ",this.checked )
        // Get all rows with search applied
          var rows = table.rows({ 'search': 'applied' }).nodes();
          // Check/uncheck checkboxes for all rows in the table
        if(this.checked){
          $('input[type="checkbox"]', rows).prop('checked', this.checked);
          
          var selData =   table.rows().select();
          var selData =   table.rows(".selected").data();
        }
        else 
        {
            var selData =   table.rows().deselect();
        }
      });

        // Handle click on checkbox to set state of "Select all" control
        $('#example tbody').on('change', 'input[type="checkbox"]', function(){
            // If checkbox is not checked
            if(!this.checked){
            var el = $('#example-select-all').get(0);
            // If "Select all" control is checked and has 'indeterminate' property
            if(el && el.checked && ('indeterminate' in el)){
                // Set visual state of "Select all" control
                // as 'indeterminate'
                el.indeterminate = true;
            }
            }
        });
        
        table.on('select', function (e, dt, type, indexes) {
            console.log(e.target);
            if (type === 'row'   ) {
                var nodes = table
                .rows(indexes)
                .nodes()
                .each(function () { 
                $('td:first-child', this).find('input').prop('checked', true); 
                });
                //.find(':checkbox', 'td:first-child').checked = true; 
            }
            });

        table.on('deselect', function (e, dt, type, indexes) {
        if (type === 'row') {
        $('#example-select-all').prop("checked",false);
            table
            .rows(indexes)
            .nodes()
            .each(function () { 
            $('td:first-child', this).find('input').prop('checked', false); 
            });
        }
        });
        
        // Handle click on "Select all" control
        $('#example-select-all').on('click', function(){
            
        console.log("esta selecconado: ",$(this).is(":checked")," otra forma ",this.checked )
        // Get all rows with search applied
            var rows = table.rows({ 'search': 'applied' }).nodes();
            // Check/uncheck checkboxes for all rows in the table
        if(this.checked){
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
            
            var selData =   table.rows().select();
            var selData =   table.rows(".selected").data();
        }
        else 
        {
        var selData =   table.rows().deselect();
        }
        });

        // Handle click on checkbox to set state of "Select all" control
        $('#example tbody').on('change', 'input[type="checkbox"]', function(){
        // If checkbox is not checked
        if(!this.checked){
          var el = $('#example-select-all').get(0);
          // If "Select all" control is checked and has 'indeterminate' property
          if(el && el.checked && ('indeterminate' in el)){
          // Set visual state of "Select all" control
          // as 'indeterminate'
          el.indeterminate = true;
        }
      }
    });
   // recargartabla(table,idcrontab);
    })
      
</script>