@{
  ViewData["Title"] = "Edit";
}
<head>
  <link rel="stylesheet" href="~/css/datatables.min.css" />
  <script src="~/js/jquery-1.11.3.min.js"></script>
  <script src="~/js/datatables.min.js"></script>
</head>

<h1>Editar Jobs</h1>
<br />
<div class="card">
  <div class="card-header">
    <a id="btnSaveJobs" onclick="GuardarJobs()" class="btn btn-primary">Guardar</a>
  </div>
  <div class="card-body">
    <div class="row g-4 align-items-center">
      <div class="col-auto">
        <label for="TittleProc" class="col-form-label">IDPROC</label>
      </div>
      <div class="col-auto">
        <label for="txtIdProc" class="col-form-label">01</label>
      </div>
      <div class="col-auto">
        <label for="TittleConex" class="col-form-label">IDCONEX</label>
      </div>
      <div class="col-auto">
        <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittleNombre" class="col-form-label">NOMBRE</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
    </div>

    <br/>
    <div class="row g-4 align-items-center">
      <div class="col-auto">
        <label for="TittleDescrpcion" class="col-form-label">DESCRIPCIÓN</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittlePath" class="col-form-label">PATH</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittleParametro1" class="col-form-label">PARAMETRO1</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittleParametroDos" class="col-form-label">PARAMETRO2</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittleParametroTres" class="col-form-label">PARAMETRO3</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <label for="TittleParametroCuatro" class="col-form-label">PARAMETRO4</label>
      </div>
      <div class="col-auto">
        <input type="text" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="IdDependencia">
            <label class="form-check-label" for="IdDependencia">
              DEPENDENCIA
            </label>
        </div>
      </div>
      <div class="col-auto">
        <span id="RepeatIntentos" class="form-text">
          INTENTOS
        </span>
    </div>
    <div class="col-auto">
      <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
    </div>
    <div class="col-auto">
      <span id="RepeatEsperaIntento" class="form-text">
        ESPERA INTENTO
      </span>
    </div>
    <div class="col-auto">
      <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
    </div>
    <div class="col-auto">
      <span id="RepeatEstado" class="form-text">
        ESTADO
      </span>
    </div>
      <div class="col-auto">
        <select class="form-select" name="estado" id="estado">
          <option value="act">ACTIVO</option>
          <option value="inact">INACTIVO</option>
          <option value="int">INTERNAL</option>
        </select>
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckFtp">
          <label class="form-check-label" for="flexCheckFtp">
            FTP
          </label>
        </div>
      </div>
      <div class="col-auto">
        <span id="idHost" class="form-text">
          IDHOST
        </span>
      </div>
      <div class="col-auto">
        <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckComprension">
          <label class="form-check-label" for="flexCheckComprension">
            COMPRESION
          </label>
        </div>
      </div>
      <div class="col-auto">
        <span id="Node" class="form-text">
          NODE
        </span>
      </div>
      <div class="col-auto">
        <input type="number" min="1" class="form-control clockpicker" data-placement="right" data-align="top" data-autoclose="true">
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <h4 style="text-align: center;">Editar crontab asociado</h4>
  </div>
</div>

<div class="modal fade" id="miModalDetCront" tabindex="-1" role="dialog" aria-labelledby="modalDetalleCrontabLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalDetalleCrontabLabel">Detalle del crontab</h4>
      </div>
      <div class="modal-body">
        <a href="#" class="link-info">Días</a>
        <hr />
        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtLunes" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtLunes">
                Lunes
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtMartes" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtMartes">
                Martes
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtMiercoles" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtMiercoles">
                Miercoles
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtJueves" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtJueves">
                Jueves
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtViernes" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtViernes">
                Viernes
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtSabado" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtSabado">
                Sabado
              </label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckTxtDomingo" name="dias_semana">
              <label class="form-check-label" for="flexCheckTxtDomingo">
                Domingo
              </label>
            </div>
          </div>
        </div>
        <hr />
        <div class="row g-4 align-items-center">
          <div class="col-auto">
            <label for="TittleCrontab" class="col-form-label">IDCRONTAB</label>
          </div>
          <div class="col-auto">
            <label for="txtCrontab" class="col-form-label" id="txtCrontab">@ViewBag.IDCRONTAB</label>
          </div>
          <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
              Hora Inicio
            </span>
          </div>
          <div class="col-auto">
            <label for="txtHoraIni" class="col-form-label" id="txtHoraIni">@ViewBag.HORA_INICIO</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <table id="dt-crontab" class="display nowrap" width="100%">
    <thead>
      <tr>
        <th><input type="checkbox" name="select_all" class="dt-column-title" value="1" id="dt-crontab-select-all-th"></th>
        <th style="font-size:13px;">IDCRONTAB</th>
        <th style="font-size:13px;">HORA INICIO</th>
        <th style="font-size:13px;">HORA FIN</th>
        <th style="font-size:13px;">DAYS</th>
        <th style="font-size:13px;">DAY EXE</th>
        <th style="font-size:13px;">MONTHS</th>
        <th style="font-size:13px;">REPEAT EVERY MINS</th>
        <th style="font-size:13px;">REPEAT AFTER FINISH</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script> 
  var params={};
  var table={};
  var idjob="";

  var idproc="@Model.IDPROC";
  params.idproc=idproc;

  var id_conex = "@Model.IDCONEX";
  var nombre = "@Model.NOMBRE";
  var descripcion = "@Model.DESCRIPCION";
  var path = "@Model.PATH";
  var param1 = "@Model.PARAMETRO1";
  var param2 = "@Model.PARAMETRO2";
  var param3 = "@Model.PARAMETRO3";
  var param4 = "@Model.PARAMETRO4";
  var dependencia = "@Model.DEPENDENCIA";
  var intentos = "@Model.INTENTOS";
  var espera_intento = "@Model.ESPERA_INTENTO";
  var estado = "@Model.ESTADO";
  var ftp = "@Model.FTP";
  var id_host = "@Model.IDHOST";
  var compresion = "@Model.COMPRESION";
  var node = "@Model.NODE";

  $(document).ready( function () {
    $("#txtIdUptConex").val(id_conex);
    $("#txtUptNombre").val(nombre);
    $("#txtUptDescripcion").val(descripcion);
    $("#txtUptPath").val(path);
    $("#txtUptParam1").val(param1);
    $("#txtUptParam2").val(param2);
    $("#txtUptParam3").val(param3);
    $("#txtUptParam4").val(param4);

    if(dependencia == 1) {
      $("#flexCheckUptDependencia").prop('checked', true);
    } else {
      $("#flexCheckUptDependencia").prop('checked', false);
    }

    $("#txtUptIntento").val(intentos);
    $("#txtUptEsperaIntento").val(espera_intento);
    $("#txtUptEstado").val(estado);

    if(ftp == 1) {
      $("#flexCheckUptFtp").prop('checked', true);
    } else {
      $("#flexCheckUptFtp").prop('checked', false);
    }

    $("#txtUptIdHost").val(id_host);

    if(compresion == 1) {
      $("#flexCheckUptCompresion").prop('checked', true);
    } else {
      $("#flexCheckUptCompresion").prop('checked', false);
    }

    $("#txtUptNode").val(node);

    var table = $('#dt-crontab').DataTable( {
      "processing": true,
      "serverSide": true,
      "paging": true,
	    "deferLoading": 0, // here
      "scrollX":          true,
      "sScrollX":         "50%",
      "scrollY":            $(document).height() - 300,
      "scrollCollapse":     true,
      "ajax": {
        "url": "@Url.Action("ListarCrontabs","Calendario")",
        "type": "POST",
        "datatype": "json",
		    "data": function(d){
          $.extend( d, params);    
        }
      },
      drawCallback: function(settings){ 
        if($(this).find('tbody tr').length <= 1){
        $('.dt-paging-button').hide();
      }
    },drawCallback: function(settings){ 
			  if($(this).find('tbody tr').length <= 1){
			  $('.dt-paging-button').hide();
			}
		},
      "columnDefs": [{
        'targets': 0,
      orderable: false 
          
      },{
      'targets': -1,
      orderable: false,
        'render': function (data, type, full, meta) {
          return   '';
        }
      }],
      "columns": [
        {
          "render": function (data,row) { return '<input type="radio" name="select_all" class="dt-column-title" value="1" id="dt-crontab-select-item">';   }
        },
        { "data": "idcrontab", "name": "idcrontab", "autoWidth": true },
          { "data": "horA_INICIO", "name": "horA_INICIO", "autoWidth": true },
          { "data": "horA_FIN", "name": "horA_FIN", "autoWidth": true },
          { "data": "wdaY_M2S_EX", "name": "wdaY_M2S_EX", "autoWidth": true },
          { "data": "daY_EX", "name": "daY_EX", "autoWidth": true },
          { "data": "montH_EX", "name": "montH_EX", "autoWidth": true },
          { "data": "repeaT_EVERY_MINS", "name": "repeaT_EVERY_MINS", "autoWidth": true },
          { "data": "repeaT_AFTER_FINISH", "name": "repeaT_AFTER_FINISH", "autoWidth": true },
      ],
      select: {
      style: 'single',
      selector: 'td:not(:last-child)' // no row selection on last column
      },
      "language": {
      "url": "/lib/datatables/dist/locales/es/es.json"
      }
    });

    table.on('select', function (e, dt, type, indexes) {
    
      if (type === 'row'   ) {
        var nodes = table
        .rows(indexes)
        .nodes()
        .each(function () { 
          $('td:first-child', this).find('input').prop('checked', true);
        });
        selectedCrontab=table.rows( { selected: true }).data()[0].idcrontab;
        console.log("selectedCrontab ", selectedCrontab)
      }
    });

    table.on('deselect', function (e, dt, type, indexes) {
      if (type === 'row') {
      $('#dt-crontab-select-all').prop("checked",false);
        table
        .rows(indexes)
        .nodes()
        .each(function () { 
          $('td:first-child', this).find('input').prop('checked', false); 
        });
      }
    });
    
    // Handle click on "Select all" control
    $('#dt-crontab-select-all-th').on('click', function() {
      if(table.settings()[0]._select.style=='multi')
      { 
      // Get all rows with search applied
      var rows = table.rows({ 'search': 'applied' }).nodes();
      // Check/uncheck checkboxes for all rows in the table
      if(this.checked){
        $('input[type="checkbox"]', rows).prop('checked', this.checked);
        
        var selData =   table.rows().select();
        var selData =   table.rows(".selected").data();
      }
      else 
      {
        var selData =   table.rows().deselect();
      }

      }
      else 
      return false;
    });

    // Handle click on checkbox to set state of "Select all" control
    $('#dt-crontab tbody').on('change', 'input[type="checkbox"]', function(){
      // If checkbox is not checked
        if(!this.checked){
        var el = $('#dt-crontab-select').get(0);
        // If "Select all" control is checked and has 'indeterminate' property
        if(el && el.checked && ('indeterminate' in el)){
          // Set visual state of "Select all" control
          // as 'indeterminate'
          el.indeterminate = true;
        }
      }
    });
  });

  function GuardarJobs() {
    hora_ini = $('#horaIni').val();
    hora_fin = $('#horaFin').val();
    repeat_every_mins = $('#UptRepeatEveryMins').val();

    var diastext=($('#flexCheckUptLunes').is(":checked") ? 1 : 0) + ""
      +($('#flexCheckUptMartes').is(":checked") ? 1 : 0) + ""
      +($('#flexCheckUptMiercoles').is(":checked") ? 1 : 0) + ""
      +($('#flexCheckUptJueves').is(":checked") ? 1 : 0) + ""
      +($('#flexCheckUptViernes').is(":checked") ? 1 : 0) + ""
      +($('#flexCheckUptSabado').is(":checked") ? 1 : 0) + ""
      +($('#flexCheckUptDomingo').is(":checked") ? 1 : 0) + "";
        
    var data_cron={
      "oProcess" : {
      "IDPROC" : idproc,
      "IDCONEX": "00000000",
      "NOMBRE" : hora_ini,
      "DESCRIPCION" : hora_fin,
      "PATH" : "0000",
      "PARAMETRO1" : diastext,
      "PARAMETRO2" : "0",
      "PARAMETRO3" : "0",
      "PARAMETRO4" : repeat_every_mins,
      "DEPENDENCIA" : repeat_every_mins,
      "INTENTOS" : repeat_every_mins,
      "ESPERA_INTENTO" : repeat_every_mins,
      "ESTADO" : repeat_every_mins,
      "FTP" : repeat_every_mins,
      "IDHOST" : repeat_every_mins,
      "COMPRESION" : repeat_every_mins,
      "IDCRONTAB" : repeat_every_mins,
      "NODE" : repeat_every_mins,
      "REPEAT_AFTER_FINISH" : $('#IdUptRepeatAfterFin').is(":checked") ? 1 : 0
    }
  };

  if (idproc != 0) {
    jQuery.ajax({
    method: "POST",
    async: true,
    dataType: "json",
    data: JSON.stringify(data_cron),
    contentType: "application/json; charset=utf-8",
    url: "@Url.Action("Update","Jobs")",

    success: function (data) {
      Swal.fire({
        title: "Jobs Actualizado!",
        text: "Click en aceptar para ver los procesos!",
        icon: "success",
        confirmButtonText: "Aceptar",
      }).then((result) => {
      if (result.isConfirmed) {
        $(location).attr("href","@Url.Action("Index","Jobs")")
      }  
    });
  }
});
} else {
  $("#horaIni").val("");
  $("#horaFin").val("");
  $("#UptRepeatEveryMins").val("");
}
</script>